{% extends 'base.html' %}

{% block content %}
<h3>Categories</h3>
    <div class="row">
        {% for product in products %}
            <div class="col card-img-top">
                <div class="card" style="width: 18rem;">
                    <img src="{{ product.image_url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <a href="#" class="btn btn-dark">Join</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    # just to make the image same size
    <style>
        .card-img-top {
            width: 100%;
            height: 30vw;
            object-fit: cover;
        }
    </style>
{% endblock %}
